@import '../variables';

.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: $navbar-height;
    height: 60vh;
    align-items: center;

    .error {
        height: 45vh;
        width: 45vh;
    }

    .button {
        background-color: $dark-red;
        border-color: $red;
        transition: .5s;
        color: $white;
        border-radius: 40px;
        text-decoration: none;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .button:hover {
        background-color: $red;
        transform: scale(2, 2);
    }
}