@import '../variables';

.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;

    .subscription{
        margin: 2rem;

        .icon{
            fill: white;
        }
    }
}