@import 'variables';

//modules imports
@import 'modules/footer';
@import 'modules/hero';
@import 'modules/about_card';
@import 'modules/buttons';
@import 'modules/navbar';
@import 'modules/episode_card';

//pages imports
@import 'pages/Subscribe';
@import 'pages/about';

//
.global{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

    .center {
        display: flex;
        justify-content: center;
    }
}